backports.tarfile==1.2.0
dataclasses==0.6
dotenv==0.9.9
fastapi==0.116.1
importlib-metadata==8.0.0
jaraco.collections==5.1.0
langchain==0.3.27
langchain-ollama==0.3.6
pip-chill==1.0.3
pipreqs==0.5.0
psycopg2-binary==2.9.10
pymilvus==2.6.0
tinycss2==1.4.0
tomli==2.0.1
torch==2.8.0
transformers==4.55.2
uvicorn==0.35.0
